.laoding {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(243, 243, 244, 0.6);
}
.loding__wapper {
  width: 5em;
  height: 5em;
}
.loding__wapper img {
  width: 100%;
  height: 100%;
}
